<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex justify-content">
    <div class="container">

    <%= link_to  "Only Old Games", root_path, class:"return-to-home" %>
    
    <div>
      <% if current_user %>
      <%= "Hello, #{current_user.name}!" %>
      <%= link_to "Edit User", edit_user_registration_path, class:"btn" %>
      <%= link_to "Add your Game", new_game_path, class:"btn" %>
      <%# <%= link_to "Edit your Game", edit_game_path, class:"btn" %>
      <%= link_to "Log Out", destroy_user_session_path, method: 'delete', class:"btn"
    %>
      <% else %>
      <%= link_to "Login", new_user_session_path, class:"btn" %>
      <%= link_to "Sign Up", new_user_registration_path, class:"btn" %>
      <% end %>
    </div>
  </div>
</div>
