<div class="container">
  <h1>Rent View</h1>
  <%= simple_form_for [@game, @rent] do |f| %>
  <%= f.input :rent_world %>
  <%= f.input :rent_game %>
  <%= f.input :return_date %>
  <%= f.submit "Submit Rent", class:"btn btn-outline-success" %>
  <% end %>
</div>
