<div class="container">
<h1>All Games</h1>
<%= current_user.email if current_user %>
<% @games.each do |game| %>
<li><%= link_to game.name, game_path(game) %></li>
<% end %>


<%= link_to "Sign in", new_user_session_path %>
</div>
<%= link_to "Log Out", destroy_user_session_path, method: 'delete' %>
<%= link_to "Edit User", edit_user_registration_path %>
