<div class="container">
  <h1>New Game</h1>
  <%= simple_form_for @game do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :category %>
  <%= f.input :price %>
  <%= f.check_box :world %>
  <%= f.input :photo, as: :file %>
  <%= f.input :video, as: :file %>
  <%= f.submit %>
  <% end %>
</div>
