<div class="container">
<h1><%= @game.name %></h1>
<h2><%= @game.category %></h2>
<p><%= @game.description %></p>
<p>Price: <%= @game.price %></p>
</div>
<%= link_to "Edit Game", edit_game_path(@game) %>
<%= link_to  "Back to Homepage", root_path %>
<%= link_to  "New Rent", new_game_rent_path(@game) %>
