
<div class="banner_show">
  
</div>
<div class="container">
  <div class="show_games">
    <h1><%= @game.name %></h1>
    <h2><%= @game.category %></h2>
    <p><%= @game.description %></p>
    <p class="price">Price: <%= @game.price %></p>
  </div>
</div>

<div class="show_button">
  <%= link_to  "Back to Homepage", root_path, class:"btn btn-outline-success" %>
  <% if current_user == @game.user %>
    <%= link_to "Edit Game", edit_game_path(@game), class:"btn btn-outline-success" %>
  <% end %>
  <%= link_to "Rent a Game", new_game_rent_path(@game), class:"btn btn-outline-success" %>
</div>
