<video width="1100px" height="350px" loop autoplay muted>
    <source type="video/mp4" src="<%= cl_video_path @game.video.key%>">
 </video>

<div class="container">
  <div class="show_games">
    <h1><%= @game.name %></h1>
    <h2><%= @game.category %></h2>
    <p><%= @game.description %></p>
    <p style="font-weight: bold; font-size:15px;"> $ <%= @game.price %></p>
    <% if @game.available == true %>
      <p style="color:green; font-size:20px; font-weight: bold;">Available</p>
    <% else %> 
     <p style="color:red; font-size:15px; font-weight: bold;"> Unavailable until <%= "#{@game.rents.order(:return_date).last.return_date.strftime("%d %b %Y")}" %> </p>
    <% end %> 
    </div>
</div>

<div class="show_button">
  <%= link_to  "Back to Homepage", root_path, class:"btn" %>
  <% if current_user == @game.user %>
    <%= link_to "Edit Game", edit_game_path(@game), class:"btn" %>
  <% end %>
  <%= link_to "Rent a Game", new_game_rent_path(@game), class:"btn" if @game.available %>
</div>
